/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #FF4A01; }
.My-Color-Theme-3-hex { color: #2364FF; }
.My-Color-Theme-4-hex { color: #D3DAF0; }
/* background */
.My-Color-Theme-5-hex { color: #FAF5EA; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(255, 74, 1, 1); }
.My-Color-Theme-3-rgba { color: rgba(35, 100, 255, 1); }
.My-Color-Theme-4-rgba { color: rgba(211, 218, 240, 1); }
/* background */
.My-Color-Theme-5-rgba { color: rgba(250, 245, 234, 1); }

@font-face {
    font-family: "DxSitrus-Expanded";
    src: url("../assets/font/DxSitrus-Expanded.otf") format("woff2");
}

*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;  
    background-color: #FAF5EA; 
}

/* container */
.container_grid{
    /* border: #2364FF 1px solid; */
    width:100vw ;
    padding: 50px;
    
}

/* imgBox */
.grid{
    /* border:1px solid blue ; */
    display: flex;
    justify-content: center;
    align-items: center;color: #2364FF;
}
img{
    width: 40vw;
    border:1px solid rgb(115, 255, 0) ;
}

